*{

 margin:0;
 padding: 0;

}

main {
    background-color: gold;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 200px;
    height: 300px;
    background-color:  maroon;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
    box-sizing: border-box;
}

.calc_row{
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.display {
    background-color: black;
}

.button {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
    flex: 1;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long {
    flex: 4;
}

/* .container1, .container2 {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    background-color: #999;
    flex: 1;
}
.container2 {
    flex: 2;
} */
.display_text{
    color: white;
    size: 140%;
    padding: 10px 10px;
}